body{
    background-color: #EDD9C2;
    font-family: helvetica;
    color: #2D261F;
    font-size: 1.2em;
}

form{
    background-color: #CD926C;
    padding: 30px;
    width: 500px;
    margin: auto;
    border: 1px solid #633F33;
    border-radius: 4px;
}
input, button {
    background-color: #EDD9C2;
    width: 480px;
    border: 1px solid #633F33;
    border-radius: 4px;
    padding: 12px;
    font-size: 1.6em;
    color: #972F25;
    margin-bottom: 20px;
}
button{
    background-color: #9A4334;
    color: #DD9E50;
    width: 500px;
}
#errorNombre, #errorEmail{
    color: #d00;
}