body{
    background-color: #d9d9d9;
    font-family: Helvetica;
    color: #666;
}

#caja{
    width: 200px;
    height: 95px;
    background-color: #666;
    border-radius: 5px;
    margin-top: 15px;
}